.header__logo {
    background-image: url("../../../images/__logo.svg");
    background-size: cover;
    background-position: center;
    width: 142px;
    height: 42px;
}


@media all and (min-width: 768px) {
    .header__logo {
        height: 52px;
        width: 176px;
    }
}