.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1280px;
    padding: 28px 48px 0 48px;

}

/* <320 */
@media all and (max-width: 767px) {
    .header {
        padding: 16px 16px 48px 16px;
    }
}


@media all and (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding: 28px 24px 48px 24px;
    }
}


@media all and (min-width: 1024px) and (max-width: 1279px) {
    .header {
        padding-bottom: 46px;
    }
}

@media all and (min-width: 1280px) {
    .header {
        padding-bottom: 56px;
    }
}
