.grid-photo {
    margin: auto;
    display: grid;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

@media all and (max-width: 767px){
    .grid-photo {
        grid-template-columns: repeat(auto-fit, 288px);
        gap: 12px;
        padding-bottom: 64px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px){
    .grid-photo {
        grid-template-columns: repeat(auto-fit, 352px);
        gap: 16px;
        padding-bottom: 88px;
    }
}

@media all and (min-width: 1024px){
    .grid-photo {
        grid-template-columns: repeat(auto-fit, 300px);
        gap: 14px;
        padding-bottom: 92px;
    }
}

@media all and (min-width: 1280px){
    .grid-photo {
        grid-template-columns: repeat(auto-fit, 284px);
        gap: 16px;
        padding-bottom: 92px;
    }
}

