.lead__title {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    font-weight: 900;
    font-style: normal;
}

@media all and (max-width: 767px){
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
        margin-bottom: 16px;
    }
}

@media all and (min-width: 768px) {
    .lead__title {
        max-width: 720px;
        font-size: 96px;
        line-height: 100px;
        margin-bottom: 32px;
    }
}