.cover__background {
    background-size: cover;
    background-position: center;
    max-width: 1280px;
    box-sizing: border-box;
    position: relative;
}

@media all and (max-width: 767px) {
    .cover__background {
        padding: 33px 16px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .cover__background {
        padding: 115px 104px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1279px) {
    .cover__background {
        padding: 195px 232px;
    }
}

@media all and (min-width: 1280px) {
    .cover__background {
        padding: 245px 312px;
    }
}

