.lead__caption { 
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: left;
    margin-top: 8px;
}

@media all and (max-width: 767px) {
    .lead__caption {
        margin-left: 16px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
}
