.footer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    width: 100vw;
    max-width: 1280px;
    padding-bottom: 24px;
    box-sizing: border-box;
}

@media all and (max-width: 767px) {
    .footer {
        padding-top: 64px;
        flex-direction: column; 
    }
}

@media all and (min-width: 768px){
    .footer {
        padding-top: 92px;
        flex-direction: row;
    }
}