.place__website {
    grid-area: url;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media all and (max-width: 767px) {
    .place__website {
        display: none;
    }
}