.intro__title {
    font-weight: 900;
    margin: 0 0 40px 0;
}

@media all and (max-width: 767px){
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}

@media all and (min-width: 768px) and (max-width: 1023px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}

@media all and (min-width: 1024px) {
    .intro__title {
        font-size: 54px;
        line-height: 58px;
    }
}
